@page
@using GuildsManager.Web.Data
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model GuildsManager.Web.Pages.Factions.EditModel

@{
  ViewData["Title"] = "Edit";
  IEnumerable<SelectListItem> forceItems = Enum
    .GetValues<Forces>()
    .Select(x => new SelectListItem {Value = ((byte) x).ToString(), Text = x.ToString()});
}

<h1>Edit Faction</h1>

<hr/>

<form method="post">
  <div asp-validation-summary="ModelOnly" class="text-danger"></div>
  <div class="row">
    <div class="col-md-6">

      <input type="hidden" asp-for="Faction.Id"/>
      <div class="form-group">
        <label asp-for="Faction.Name" class="control-label"></label>
        <input asp-for="Faction.Name" class="form-control"/>
        <span asp-validation-for="Faction.Name" class="text-danger"></span>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label asp-for="Faction.Force" class="control-label"></label>
        <select asp-for="Faction.Force" class="form-select" asp-items="@forceItems"></select>
        <span asp-validation-for="Faction.Force" class="text-danger"></span>
      </div>
    </div>
  </div>
  <div class="form-group mt-4 text-end">
    <input type="submit" value="Save Changes" class="btn btn-primary"/>
  </div>
</form>


<hr/>

<p class="text-end">
  <a class="btn btn-primary" asp-page="/ModelCards/Create" asp-route-factionId="@Model.Faction.Id">Create New Model Card</a>
</p>
@foreach (var item in Model.ModelCards.OrderByDescending(x => x.HeroicWounds).ThenBy(x => x.Name))
{
  <div class="card mt-2">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <p style="font-weight:600;">
            @item.Name
            @if (item.Slots > 1)
            {
              <span> (@string.Join(string.Empty, Enumerable.Repeat('*', item.Slots)))</span>
            }
            @if (item.UnitNumber > 1)
            {
              <span> (@item.UnitNumber)</span>
            }
          </p>
          <p>@item.Keywords</p>
        </div>
        <div class="d-flex col" style="text-align: center;">
          <div class="mx-2">
            <p>HW</p>
            <p>
              @item.HeroicWounds
            </p>
          </div>
          <div class="mx-2">
            <p>Might</p>
            <p>
              @item.Might
              @if (item.Healing)
              {
                <span> (R)</span>
              }
            </p>
          </div>
          <div class="mx-2">
            <p>Dex</p>
            <p>
              @item.Dex
              @if (item.IgnoreDifficultTerrain)
              {
                <span> (M)</span>
              }
              @if (item.Levitating)
              {
                <span> (L)</span>
              }
            </p>
          </div>
          <div class="mx-2">
            <p>Def</p>
            <p>
              @item.Def
              @if (item.Shield)
              {
                <span> (S)</span>
              }
            </p>
          </div>
          <div class="mx-2">
            <p>Will</p>
            <p>
              @item.Will
            </p>
          </div>
        </div>
        <div class="col">
          @foreach (var attack in item.Attacks)
          {
            <p>@attack.Name</p>
          }
        </div>
        <div class="col">
          @foreach (var ability in item.Abilities)
          {
            <p>@ability.Name</p>
          }
        </div>
        <div class="col d-flex flex-grow-0" style="align-items: center">
          <div class="d-flex">
            <a class="btn btn-sm btn-primary me-2" asp-page="/ModelCards/Edit" asp-route-id="@item.Id">Edit</a>
            <a class="btn btn-sm btn-danger" asp-page="/ModelCards/Delete" asp-route-id="@item.Id">Delete</a>
          </div>
        </div>
      </div>
    </div>
  </div>
}

<div class="mt-4">
  <a asp-page="./Index">Back to List</a>
</div>